appdirs==1.4.3
cssselect==1.0.1
cssutils==1.0.2
libsass==0.12.3
lxml==3.7.3
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
Unum==4.1.3
-e git+https://github.com/BlackEarth/bf@5e622767c1e5ce32e345aea8c75c8a7c0a3bc1e2#egg=bf
-e git+https://github.com/BlackEarth/bl.git@59c8ed655f88f08d0b13db9f1caddf99c6ed0ed4#egg=bl
-e git+https://github.com/BlackEarth/bxml@784ba4b66feaa0b52fd9ea597417e3a1140b523f#egg=bxml
